@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #222031;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222031;
    --foreground: #ededed;
    --success: #06D6A0;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif !important;
  font-optical-sizing: auto;
}

body {
  display: flex;
  flex-direction: column;
}

.makeitscrollable_and_full_window_height {
  height: 90%;
  max-height: 100vh;
  overflow-y: auto;
  width: 100vw
}

.mainContainer {
  width: 100vw;
  height: 95vh;
}

.infoBar {
  position: fixed;
  bottom: 5px;
  right: 5px
}

.ada-logo {
  color: white !important;
}

.explanationCard {
  height: 25vh;
}